@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.span{
    width: 5px;
    height: 2px;
    background-color: #000;
}
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  /* transition: all 0.9s ease; */
  transition: all 1.2s cubic-bezier(.25,.8,.25,1);
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.slider {
    display: flex;
    height: 250px;
    width: 100%;
    max-width: 1920px;
	margin: 0 auto;
    overflow: hidden;
}
.slick-list {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}
.slider img{
    display: block;
    /* margin: 0 auto; */
    height: 250px;
    width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
    /* box-shadow: 3px 3px 8px 0 rgba(1, 1, 1, .5); */
}

header{
    width: 100%;
    max-width: 1920px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(147, 132, 111, 0.8);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header-logo{
    width: 300px;
}
.header-logo:hover{
    transform: scale(1.1);
    transition: all 0.8s 0s ease;
}

.header-logo a{
    text-decoration: none;
    border: none;
}
.header-logo h1{
    padding: 30px 30px 0 30px;
    margin-bottom: 0;
    text-shadow: .5px .5px .5px #4b2c14;
    width: 300px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
}
.header-logo h3{
    padding: 5px 100px 20px;
    margin-top: 0;
    width: 300px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #fff;
    text-shadow: .5px .5px .5px #4b2c14;
    letter-spacing: 0.2em;
}
.header-nav ul{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: 100px;
}
.header-nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    padding: 25px;
}
.header-nav ul li a:hover{
    font-size: 1.02rem;
    color: #4b2c14;
    transition: all 0.8s 0s ease;
}
.header-nav ul li:hover{
    transform: scale(1.1);
    transition: all 0.8s 0s ease;
}
.icon{   
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon a:hover{
    transform: scale(1.1);
    transition: all 0.8s 0s ease;
}
.icon a img{
    margin-right: 25px;
    width: 30px;
    height: 30px;
    filter: drop-shadow(.5px .5px .5px #fff);
}
main{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
}
main .top-img{
    margin: 0 auto;
    height: 500px;
    background-image: url(./img/topimg.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}
main .top-img:hover{
    background-image: url(./img/has-tahishi-67j_Tv-Ub-8-unsplash.jpg);
    /* transform: translateX(-100%); */
    transition: all 2s 0s ease;
}
.top-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-img h1{
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 0.2em;
}
.top-img h3{
    margin-top: 0;
    margin-left: 210px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 0.4em;
}
.catch-copy{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.catch-copy h1{
    font-size: 1.7rem;
    font-weight: 590;
    letter-spacing: 0.2em;
}
.catch-copy h2{
    font-weight: 550;
    font-size: 1.2rem;
    margin-left: 20px;
    letter-spacing: 0.1em;
}
.products-btn{
    margin-bottom: 0;
    height: 60px;
    position: relative;
}
.products a{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    letter-spacing: 0.2em;
    font-weight: 600;
}
.products{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 80px;
    background-color: rgb(147, 132, 111, 0.3);
    border: none;
}


.itemlist{
    max-width: 1050px;
    margin-top: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}
.itemlist li>img{
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}
.itemlist li:hover{
    transform: scale(1.05);
    transition: all 0.5s 0s ease;
box-shadow: 5px 5px 8px 0 rgba(6, 6, 6, 0.3);

}
.itemlist li{
    width: 300px;
    margin: 0 auto;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, .05);
    /* border-radius: 0px 0px 25px 25px; */
    margin-bottom: 40px;
    margin-top: 40px;
}
.itemlist li dl{
    height: 300px;
}
.itemlist li dl dt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    margin-top: 8x;
}
.itemlist li dl p{
    font-weight: 550;
    font-size: 1.4rem;
    margin: 0 auto;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemlist li dl dd{
    height: 155px;
    width: 235px;
    font-size: 0.8rem;
    margin: 13px auto;
}
.kart{
    width: 270px;
    margin: 0 auto;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: rgb(147, 132, 111, 0.3);
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 0.2em;
    line-height: 2;
}

.kart img{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-right: 10px;
}
.kart:hover{
    background-color: rgb(147, 132, 111, 0.8);
    transition: all 0.8s 0s ease;
    color: #fff;
}
.news{
    padding-top: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #dcdcdc;
    position: relative;
}
.news-top h1{
    padding-top: 110px;
    margin: 0 auto;
    margin-left: 80px;
}
.news-top h1{
    font-size: 1.4rem;
    font-weight: 600;
    color: #4b2c14;
    letter-spacing: 0.3em;
}
.news-top{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px; 
    height: 250px; 
    clip-path: circle(90px at 50% 50%);
    margin-right: 10px;
    background-color: #f6f6f6;
}
.news-tpc{
    max-width: 900px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.saiji,.sin,.rec{
    display: flex;
    border-bottom: 1.8px dotted #fff;
}
.saiji dt,.sin dt,.rec dt{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 20px;
    background-color: #f6f6f6;
    font-size: 1rem;
    font-weight: 480;
    color: #4b2c14;
    margin: 10px 20px 10px 10px;
    letter-spacing: 0.1em;
}
.news-tpc dl dd{
    font-weight: 400;
    letter-spacing: 0.1em;
}
.email{
    background-image: url(./img/jessica-loaiza-DHYfjAe_eeo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    border-radius: 60px;
}

.email dl{
    display: flex;
    gap: 20px;
    align-items: center;
}
.email{
    width: 1050px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    height: 120px;
}

.required{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.3em;
}
.email dd p{
    font-size: 0.8rem;
    font-weight: 400;
}
.submit-button{
    right: 20px;
    width: 70px;
    height: 35px;
    border-radius: 30px;
    background-color: #93846f;
    color: #fff;
    border: none;
}
.input-text{
    width: 500px;
    height: 45px;
    border-color: #000;
    border-radius: 10px;
    margin-top: 15px;
}
input::placeholder{
    color: #93846f;
    font-size: medium;
}
footer{
    width: 100%;
    max-width: 1920px;
    position: relative;
}
.toplink{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 60px;
    position: fixed;
    bottom: 8%;
    right: 3%;
}
.toplink a img{
   width: 40px;
   height: 40px;
   filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, .8));
}
.toplink p{
    width: 30px;
    font-size: 0.7rem;
    font-weight: 600;
}
.footer-img{
    height: 550px;
    background-image: url(./img/footer.jpg);
    background-position: 10% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.footer-nav{
    position: absolute;
    top: 80px;
    right: 100px;
    background-color: rgb(255, 255, 255, 0.4);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 20px;
}
.footer-nav:hover{
    background-color: rgb(255, 255, 255, 0.8);
    transition: all 1s 0s ease;
}
.footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav li a{
    text-decoration: none;
    color: #4b2c14;
}
.footer-nav li a:hover{
    color: #000;
    font-weight: 600;
    transition: all 0.2s 0s ease;
}
.footer li{
    padding: 13px;
    font-size: 18px;
    font-weight: inherit;
    letter-spacing: 0.2em;
}
.follow img{
    width: 35px;
    height: 35px;
    margin: 6px;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;
    background-color: #dcdcdc;
}
footer p{
    color: #93846f;
}
footer p:first-of-type{
    padding-left: 30px;
}
footer p:nth-of-type(2){
    padding-left: 300px;
}
footer p:last-of-type{
    margin-right: 50px;
}


@media(max-width:800px){

header, main, footer{
    width: 100%;
}
main{
padding-top: 0;  
}
/* .slider {
    height: 150px;
	margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
.slider img{
    width: 150px;
} */
.slick-list {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}
.slider{
    height: 130px;
}
.slider img{
    display: block;
    /* margin: 0 auto; */
    height: 130px;
    width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
    /* box-shadow: 3px 3px 8px 0 rgba(1, 1, 1, .5); */
}

/* header{
align-items: center;
} */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 50px);
    /* position: static;
    /* position: absolute; */
}
.header-nav ul{
    position: absolute;
    top: 100%;
    left: 0%;
    height: 280px;
    width: 100vw;
    margin: 0 auto;
    right: 0;
    color: #ffffff;
    background-color: rgb(255, 255, 255, 0.3);
}

main .top-img{
    margin-top: 100px;
    background-image: url(./img/has-tahishi-67j_Tv-Ub-8-unsplash.jpg);
    align-items: flex-start;
}
.header-logo{
    margin: 0;
    text-align: center;
    width: 100px;
}
.header-logo h1{
    padding: 0;
    font-size: 0.8rem;
    margin-top: 30px;
}
.header-logo h3{
    padding: 0;
    font-size: 0.5rem;
    margin: 0;
}

.icon a img{
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.top-img h1{
    font-size: 1.2rem;
    margin: 0 auto;
}
.top-img h3{
    font-size: 0.8rem;
    margin: 0 auto;
}
.header{
    justify-content: center;
    }
.header-nav ul{
        /* display: block; */
        flex-direction: column;
        text-align: center;
    }
.header-nav ul li{
        margin-top: 20px;
    }
.itemlist{
        display: block;
    }
.catch-copy{
        display: block;
        text-align: center;
    }
.catch-copy h1{
        font-size: 1.3rem;
        margin: 0 auto;
    }
.catch-copy h2{
font-size: 0.8rem;
}

.news-top{
    display: none;
}
.news-tpc{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
}
.input-text{
    width: 300px;
    height: 25px;
}
.email dl{
    display: block;
}
.email{
    display: block;
    height: auto;
    width: 100%;
}
.footer-nav{
    position: static;
}
.footer ul{
    margin: 0 auto;
    height: auto;
}
.footer-bottom{
    /* display: block; */
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.footer-bottom p{
   font-size: 0.5rem;
   inset: 0;  
   margin: auto;
}
footer p:first-of-type{
    padding-left: 0;
    /* margin-left: 0; */
}
footer p:nth-of-type(2){
    padding-left: 0;
}
footer p:last-of-type{
    margin-right: 0;
    inset: 0;  
    margin: auto;
 
}
    
.toplink{
    display: none;
}
}